@media all {
    html {
        /*background: repeating-radial-gradient(#e6dfd5, #e6dfd5, #e6dfd5);*/
        background: repeating-radial-gradient(#2291b2, #3081a7, #3b84b2);
    }
    body{
        background: none;
        font-family: 'Source Sans Pro', Arial, sans-serif;
        color: #ffffff;
    }

    .glyphicon{
        color: #ffffff;

    }

    .navbar{
        background: linear-gradient(#e27f54, #ae4c18);
        /*background: linear-gradient(#66aaa2, #66aaa2);*/
        border-radius: 0px;
        box-shadow: .1em .1em 1em #292929;
        border: 1px solid #e27f54;
        z-index: 999;
    }
    .navbar-brand{
        font-family: 'Comfortaa', cursive;
        font-weight: 600;
        color: #66aaa2;
    }
    .navbar-default .navbar-nav>li>a{
        color: #fff;
    }
    .navbar-default .navbar-nav>li>a:hover{
        color: #e1df57;
    }
    .navbar-form .checkbox label, .navbar-form .radio label {
        color: #ffffff;
    }

    .nav>li{
        display: inline-block;
    }
    .nav.nav-tabs>.col-xs-2{
        padding-right: 0;
        padding-left: 0;
    }
    .bt-navbar-btn{
        background: linear-gradient(#417182,#435c6f);
        box-shadow: .1em .1em .3em #9f514e;
        color: #fff;
    }
    .bt-navbar-btn:hover{
        background: linear-gradient(#e1df57, #e1df57);
    }
    .bt-navbar-brand-logo {
        color: #fff;
        font-family: 'Comfortaa', cursive;
        font-size: 1.5em;
        text-shadow: .1em .1em .3em #ae5a50;
        text-transform: lowercase;
    }
    .fa-bt-brand-bg{
        color: #88ce9b;
    }
    .fa-bt-brand-icon{
        color: #ae5a50;
        background: #ffffff;
        padding: .5em;
        margin-top: -.7em;
        border-radius: 50%;
    }

    .fa-bt{
        color: rgba(255, 246, 248, 0.99);
    }

    .fa-bt-inverse, .fa-btn-inverse{
        color: #ffffff;
        /*background: linear-gradient(rgb(226, 127, 84), rgb(208, 128, 73));*/
        background: linear-gradient(rgb(226, 127, 84), rgb(208, 128, 73));
        text-shadow: none;
        border-color: #c06458;
    }
    
    .fa-bt-inverse{
        background: #4a7392;
        color: #ffffff;
        border-color: #417182;
    }
    .fa-btn-inverse:hover{
        background: linear-gradient(#d07250, #d07250);
        color: #fff;
        text-shadow: none;
        border-color: #d08049;
    }

    .fa-bt-transparent{
        background: none;
        color: #e1df57;
        border: none;
        box-shadow: none;
    }
    .fa-bt-transparent:hover{
        background: none;
        color: #e1df57;
    }

    .bt-overlay-login{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 350px;
        width: 350px;
        /*background: radial-gradient(#B2E7B9, #DCFDDD, #4D8E43);*/
        background: radial-gradient(#CDCDCD, #FFF, #8B8B8B);
        border-radius: 50%;
        box-shadow: .2em .2em 1em #222;
    }

    .bt-overlay, .bt-box    {
        /*background: radial-gradient(#B2E7B9, #DCFDDD, #4D8E43);*/

        /*background: radial-gradient(#F0F0F0, rgba(215, 239, 215, 0.63));*/
        /*box-shadow: .2em .2em 1em #222;*/
        /*border-radius: 5px;*/
        position: relative;
        margin-top: 80px;
    }

    .bt-login{
        width: 300px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .bt-login-input{
        padding: 5px;
        color: #2f3d2d;
        font-family: 'Source Sans Pro', Arial, sans-serif;
        margin: auto;
    }

    .bt-login-input input {
        padding: 5px;
        color: #2f3d2d;
        font-family: 'Source Sans Pro', Arial, sans-serif;
        background: #ffffff;
    }
    .page-header{
        font-family: 'Comfortaa', cursive;
        color: #e1df57;
        text-align: center;
    }

    .bt-table-header{
        padding: .75em 0;
        background: rgba(67, 92, 111, 0.5);
        color: #ffffff;
        margin-top: 1.5em;

    }
    .bt-table-row{
        padding: .5em 0;
    }
    .bt-table-row:nth-child(2n){
        background: rgba(67, 92, 111, 0.2);
    }
    .bt-tab-text{
        display: none;
    }
    .active>a, .active>a:hover{
        background: linear-gradient(#66aaa2, #66aaa2);
        border-color: #66aaa2;
    }
    .active>a>.bt-tab-text,.active>a>.fa-bt-transparent{
        color: #88ce9b;
        border:none;
    }
    .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover{
        border: none;
        border-bottom: 2px solid #e1df57;
        background: linear-gradient(rgba(67, 92, 111, 0.19),#435c6f);
    }
    .nav-tabs.nav-justified>li>a{
        border: none;
    }
    .nav-tabs, .nav-tabs:hover{
        background: linear-gradient(#417182, #435c6f);
    }
    .nav-tabs.nav-justified>li>a:hover{
        background: linear-gradient(rgba(67, 92, 111, 0.05), rgba(67, 92, 111, 0.43));
        border: none;
    }
    .bt-vert-padding{
        padding-top: .5em;
        padding-bottom: .5em;
    }
    .bt-horz-padding {
        padding-right: 1em;
        padding-left: 1em;
    }
    .bt-vert-margin{
        margin-top: .5em;
        margin-bottom: .5em;
    }
    .bt-horz-margin {
        margin-right: 1em;
        margin-left: 1em;
    }
    .pagination>li>a,.pagination>li>a>.glyphicon{
        color: #88ce9b;
        background: linear-gradient(#417182,#435c6f);
        border: #417182;
    }
    .pagination>li>a:hover,.pagination>li>a>.glyphicon:hover{
        color: #e1df57;
    }
    #seating-details-table{
        padding: 0;
    }
    .bt-thumb-img{
        height: 140px;
        width: 140px;
        border: 1px solid #e1df57;
        box-shadow: .2em .2em .5em #435c6f;
        border-radius: .5em;
        background: linear-gradient(#4a7392, #435c6f);
        color: #417182;
    }
    .bt-circle-img{
        border-radius: 50%;
        background: radial-gradient(#4a7392, #435c6f);
    }
    .bt-table-layout{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .bt-headline{
        padding: .5em;
        background: linear-gradient(rgba(67, 92, 111, 0.5), rgba(67, 92, 111, 0.9));
        border-radius: .3em ;
        color: #88ce9b;
    }
}

@media (min-width: 512px) {
    #bt-reservation-tb span.bt-tab-text, .bt-tab-text {
        display: inline;
    }
}
@media (min-width: 768px) {
    ul.nav-tabs.nav-justified>li {
        float: none;
    }
    .bt-thumb-img{
        height: 100px;
        width: 100px;
    }
    .bt-table-header{
        font-size: 0.9em;
    }
    .bt-table-row{
        font-size: 0.9em;
    }
}


@media (min-width: 1200px) {
    .bt-thumb-img{
        height: 140px;
        width: 140px;
    }
}

